.mytitle{
    color:white;
}
.button{
    color: white;
}
.button-active{
    color: white;
    background-color: #01b369;
    --background:#01b369;
}
ion-card{
    --background: white;
}
ion-text{
    p{
        .text{
            text-align: center;
        }
    }
}