<div class="main">
  <ion-content>

    <ion-searchbar showCancelButton="always" animated 
    placeholder="Electrician plumber, chapo cook" ></ion-searchbar>
    
    

      <div class="map-result">
        <ion-item lines="none">

        </ion-item>

      </div>

 
    <div class="sliding-card">
    <ion-item lines="none">
      <app-sliding-results *ngIf="workers" [workers]="workers"></app-sliding-results>
    </ion-item>
    </div>
    


    </ion-content>
 
      
    <div class="myfooter">
   
      
      <ion-footer color="secondary">
        <ion-toolbar color="secondary">
          <ion-title position="start">Register</ion-title>
        </ion-toolbar>
      </ion-footer>
    </div>
    


</div>
